.team-section {
    padding: 2px;
    text-align: center;
}

.team-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.team-member {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px; /* Reduced padding */
    width: 180px; /* Adjusted width for a more compact block */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.team-member h3 {
    font-size: 1.1em;
    margin: 5px 0;
}

.team-member p {
    font-size: 0.9em;
    color: #666;
}

.team-member a {
    text-decoration: none;
    color: #007BFF; /* Link color */
}

.team-member a:hover {
    text-decoration: underline;
}
